{%extends 'BusDriver/main.html'%}
{%load static%}
{%block content%}

<div class="row">
    <div class="col-md-6">
        <div class="body">
            {%if bus_number < 2%}
                <form method="POST" action="">
                    {%csrf_token%}
                        {{form}}
                        <br>
                    <input type="submit" value="submit" >
                </form>
            {%else%}
               <div class="alert alert-danger" role="alert">
                <p >no seats available </p>
                </div>
            {%endif%}
        </div>
    </div>
</div>


{%endblock%}