{%extends 'BusDriver/main.html'%}
{%load static%}
{%block content%}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form method="POST" action="{% url 'delete_bus' bus.id %}">
                {%csrf_token%}
                <a class="btn btn-warning" href="{% url 'home' %}">cancle</a>
                <input class="btn btn-danger" type="submit" name="confirm" value="confirm">
            </form>
        </div>
    </div>
</div>
<p>are you sure u want delete "{{bus}}" bus?</p>

{%endblock%}