{%  extends 'BusDriver/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Driver:</h5>
				<table class="table">
		<tr>
			<thead class="thead-light">
				<tr>
					<th scope="col">name</th>
					<th scope="col">address</th>
					<th scope="col">phone</th>
					<th scope="col">age</th>
					<th scope="col">bus</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{driver.name}}</td>
					<td>{{driver.address}}</td>
					<td>{{driver.phone}}</td>
					<td>{{driver.age}}</td>
					<td>{{driver.bus}}</td>
				</tr>
			</tbody>
	</table>
			<hr>
			<a class = "btn btn-sm btn-info" href="{% url 'update_driver' driver.id %}" >Update</a>
		</div>
	</div>
</div>

{% endblock %}